<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="change-theme-button.css">
    <title>Multimodal Mouse Control</title>
</head>
<body>
    <div class="container">
        <marquee><h1>Multimodal Mouse Control</h1></marquee>
        <button onclick="window.location.href='/start/hand'">Start Hand Gesture Tracking</button>
        <button onclick="window.location.href='/start/eye'">Start Eye Tracking</button>
        <button onclick="window.location.href='/stop'">Stop Detection</button>
        <canvas id="drawCanvas"></canvas>
    </div>
</body>
</html>